@define-color accent_color #1a6b52;
@define-color accent_fg_color #ffffff;
@define-color accent_bg_color #1a6b52;
@define-color window_bg_color #f5fbf6;
@define-color window_fg_color #171d1a;
@define-color headerbar_bg_color #d5dbd6;
@define-color headerbar_fg_color #171d1a;
@define-color popover_bg_color #d5dbd6;
@define-color popover_fg_color #171d1a;
@define-color view_bg_color #f5fbf6;
@define-color view_fg_color #171d1a;
@define-color card_bg_color #f5fbf6;
@define-color card_fg_color #171d1a;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
